/* 
.marquee-row {
  width: 100vw;
  overflow: hidden;
  height: 100px;
  position: relative;
}
.marquee-content {
  display: flex;
  gap: 16px;
  width: max-content;
}

.marquee-right .marquee-content {
  animation: marquee-right 28s linear infinite;
}
.marquee-left .marquee-content {
  animation: marquee-left 28s linear infinite;
}

@keyframes marquee-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
} */


.marquee {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee__content {
  display: flex;
  animation: marquee 25s linear infinite;
  will-change: transform;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
