.wrapper {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.itemLeft {
  animation: moveRight 12s linear infinite;
}
.itemRight {
  animation: moveLeft 12s linear infinite;
}

@keyframes moveRight {
  0% {
    left: -300px;
  }
  100% {
    left: 100vw;
  }
}

@keyframes moveLeft {
  0% {
    left: 100vw;
  }
  100% {
    left: -300px;
  }
}

.wrapper .itemLeft,
.wrapper .itemRight {
  position: absolute;
}
