@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-black text-white relative font-sans h-screen overflow-x-hidden;
}
