@import "tailwindcss";

:root {
  --background: #ffffff;
}

html {
  @apply scroll-smooth;
}

.dark {
  --background: #000000;
}

body {
  @apply bg-[var(--background)] transition-colors duration-500;
}

